<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="Lasse Borly">

  <title>Hos Buller</title>

  <!-- Bootstrap Core CSS -->
  <link href="css/bootstrap.css" rel="stylesheet">

  <!-- Custom CSS -->
  <link href="css/slick.css" rel="stylesheet">
  <link href="css/business-casual.css" rel="stylesheet">
  <link href="css/style.css" rel="stylesheet">

</head>

<body>
  <div class="brand"><a href="/"><img src="img/logo.png"/></a></div>
  <div class="address-bar">Tlf: 40 26 36 87 | Email: mad@hosbuller.dk | CVR: 13487383 </div>

  <!-- Navigation -->
  <nav class="navbar navbar-default" role="navigation">
    <div class="container">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <!-- navbar-brand is hidden on larger screens, but visible when the menu is collapsed -->
        <a class="navbar-brand" href="/">Hos Buller</a>
      </div>
      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          <li>
            <a href="/">Forside</a>
          </li>
          <li>
            <a href="/om">Om os</a>
          </li>
          <li>
            <a href="/alacarte">A La Carte</a>
          </li>
          <li>
            <a href="/buffet">Buffet</a>
          </li>
          <li>
            <a href="/grill">Grill Pakker</a>
          </li>
          <li>
            <a href="/julefrokost">Julefrokost</a>
          </li>
          <li>
            <a href="/kontakt">Kontakt os</a>
          </li>
        </ul>
      </div>
      <!-- /.navbar-collapse -->
    </div>
    <!-- /.container -->
  </nav>

  {{{body}}}

  <footer>
    <div class="container">
      <div class="row">
        <div class="col-lg-3">
          <h3>Firmabeskrivelse</h3>
          <p>
            <strong>Hos Buller</strong> er en restaurant, som i flere år har bragt smilet frem på kundernes ansigter. Vi tilbyder forskellige løsninger med både mad og drikkevarer. Kontakt os endelig hvis du har brug for et tilbud på din fest.
          </p>
        </div>
        <div class="col-lg-3">
          <h3>Kontakt</h3>
          <p>
            Kløvermarksvej 34<br>
            2300 København S<br><br>

            Tlf.: 40 26 36 87<br>
            E-mail: mad@hosbuller.dk<br>
            CVR-nr.: 13487383
          </p>
        </div>
        <div class="col-lg-3">
          <h3>Find os</h3>
          <div class="text-center"><img src="img/staticmap.png" /></div>
        </div>
        <div class="col-lg-3">
          <h3>Kvalitetsgaranti</h3>
          <div class="text-center"><img src="img/elite.png" /></div>
        </div>
      </div>
    </div>
  </footer>

  <!-- jQuery -->
  <script src="js/jquery.js"></script>
  <script src="js/slick.js"></script>

  <!-- Bootstrap Core JavaScript -->
  <script src="js/bootstrap.min.js"></script>

  <!-- Script to Activate the Carousel -->
  <script>
  $('.single-item').slick({
    autoplay: true,
    autoplaySpeed: 2000,
    infinite: true,
    arrows: false,
    pauseOnHover: false,
    mobileFirst: true
  });
  </script>

</body>

</html>
