
<div class="container">

  <div class="row">
    <div class="box a-la-carte">

      <div class="col-md-4">
        <h4>Forret</h4>

        <div class="row ret">
          <div class="col-xs-8">
            <strong>Tarteletter</strong></br>
            <p>Høns i asparges.</p>
            <em>Min. 25 kurverter</em>
          </div>
          <div class="col-xs-4">
            <strong>45,00 kr.</strong></br>
            <em>pr. kuvert</em>
          </div>
        </div>

        <div class="row ret">
          <div class="col-xs-8">
            <strong>Rejecocktail</strong></br>
            <p>Med flutes.</p>
            <em>Min. 25 kurverter</em>
          </div>
          <div class="col-xs-4">
            <strong>45,00 kr.</strong></br>
            <em>pr. kuvert</em>
          </div>
        </div>

        <div class="row ret">
          <div class="col-xs-8">
            <strong>Kogt laks</strong></br>
            <p>Med skaldyr, krydderurtedressing og flutes.</p>
            <em>Min. 25 kurverter</em>
          </div>
          <div class="col-xs-4">
            <strong>49,00 kr.</strong></br>
            <em>pr. kuvert</em>
          </div>
        </div>

        <div class="row ret">
          <div class="col-xs-8">
            <strong>Varmrøget laks</strong></br>
            <p>Med flødestuvet spinat og flutes.</p>
            <em>Min. 25 kurverter</em>
          </div>
          <div class="col-xs-4">
            <strong>49,00 kr.</strong></br>
            <em>pr. kuvert</em>
          </div>
        </div>

        <div class="row ret">
          <div class="col-xs-8">
            <strong>Fiskesymphonie</strong></br>
            <p>Hvidvinsdampede og stegte rødspættefileter. Med krebsehaler, asparges og citronbåde. Serveret med hollandaisesauce og butterdejsnitter.</p>
            <em>Min. 25 kurverter</em>
          </div>
          <div class="col-xs-4">
            <strong>49,00 kr.</strong></br>
            <em>pr. kuvert</em>
          </div>
        </div>

        <div class="row ret">
          <div class="col-xs-8">
            <strong>Østersøens perle</strong></br>
            <p>Håndskåret ferskrøget laks, serveret med flødestuvet spinat, slikasparges og butterdejssnitter.</p>
            <em>Min. 25 kurverter</em>
          </div>
          <div class="col-xs-4">
            <strong>49,00 kr.</strong></br>
            <em>pr. kuvert</em>
          </div>
        </div>

      </div>

      <div class="col-md-4">
        <h4>Hovedret</h4>

        <div class="row ret">
          <div class="col-xs-8">
            <strong>Glaseret herregårdsskinke</strong></br>
            <p>Serveret med flødegratinerede kartofler, salat, dressing og brød.</p>
            <em>Min. 25 kurverter</em>
          </div>
          <div class="col-xs-4">
            <strong>109,00 kr.</strong></br>
            <em>pr. kuvert</em>
          </div>
        </div>

        <div class="row ret">
          <div class="col-xs-8">
            <strong>Rødvinsmarineret svinekam</strong></br>
            <p>Serveret med vildtsauce, citronmarinerede kartofler og rødkål.</p>
            <em>Min. 25 kurverter</em>
          </div>
          <div class="col-xs-4">
            <strong>145,00 kr.</strong></br>
            <em>pr. kuvert</em>
          </div>
        </div>

        <div class="row ret">
          <div class="col-xs-8">
            <strong>Gammeldags oksesteg</strong></br>
            <p>Serveret med glaserede løg, skysauce, haricotverts, babykarotter og vildmose kartofler.</p>
            <em>Min. 25 kurverter</em>
          </div>
          <div class="col-xs-4">
            <strong>169,00 kr.</strong></br>
            <em>pr. kuvert</em>
          </div>
        </div>

        <div class="row ret">
          <div class="col-xs-8">
            <strong>Kalvesteg</strong></br>
            <p>Stegt som vildt, serveret med skysauce, råstegte kartofler samt årstidens gemüse.</p>
            <em>Min. 25 kurverter</em>
          </div>
          <div class="col-xs-4">
            <strong>210,00 kr.</strong></br>
            <em>pr. kuvert</em>
          </div>
        </div>

        <div class="row ret">
          <div class="col-xs-8">
            <strong>Helstegt oksefilet</strong></br>
            <p>Serveret med fyldte tomater, hvidløgsmarinerede baconbønner, hvide kartofler samt bearnaisesauce.</p>
            <em>Min. 25 kurverter</em>
          </div>
          <div class="col-xs-4">
            <strong>199,00 kr.</strong></br>
            <em>pr. kuvert</em>
          </div>
        </div>

        <div class="row ret">
          <div class="col-xs-8">
            <strong>Helstegt oksemørbrad</strong></br>
            <p>Serveret med råstegte kartofler, peber sauce og stegte grøntsager.</p>
            <em>Min. 25 kurverter</em>
          </div>
          <div class="col-xs-4">
            <strong>245,00 kr.</strong></br>
            <em>pr. kuvert</em>
          </div>
        </div>

        <div class="row ret">
          <div class="col-xs-8">
            <strong>Helstegt dyreryg</strong></br>
            <p>Serveret med vildtsauce citronmarinerede kartofler samt årstidens gemyse.</p>
            <em>Min. 25 kurverter</em>
          </div>
          <div class="col-xs-4">
            <strong>245,00 kr.</strong></br>
            <em>pr. kuvert</em>
          </div>
        </div>

        <div class="row ret">
          <div class="col-xs-8">
            <strong>Andebryst al ‘orange</strong></br>
            <p>Serveret med orangesauce, geleappelsiner, hvide kartofler og rødkål.</p>
            <em>Min. 25 kurverter</em>
          </div>
          <div class="col-xs-4">
            <strong>209,00 kr.</strong></br>
            <em>pr. kuvert</em>
          </div>
        </div>

      </div>

      <div class="col-md-4">
        <h4>Dessert</h4>

        <div class="row ret">
          <div class="col-xs-8">
            <strong>Islagkage</strong></br>
            <em>Min. 25 kurverter</em>
          </div>
          <div class="col-xs-4">
            <strong>39,00 kr.</strong></br>
            <em>pr. kuvert</em>
          </div>
        </div>

        <div class="row ret">
          <div class="col-xs-8">
            <strong>Pærer Bell Helene</strong></br>
            <p>Henkogte pærer med vaniljeis og varm chokoladesauce.</p>
            <em>Min. 25 kurverter</em>
          </div>
          <div class="col-xs-4">
            <strong>39,00 kr.</strong></br>
            <em>pr. kuvert</em>
          </div>
        </div>

        <div class="row ret">
          <div class="col-xs-8">
            <strong>½ Fyldt ananas</strong></br>
            <p>Med is og frugt og varm chokoladesauce</p>
            <em>Min. 25 kurverter</em>
          </div>
          <div class="col-xs-4">
            <strong>49,00 kr.</strong></br>
            <em>pr. kuvert</em>
          </div>
        </div>

        <div class="row ret">
          <div class="col-xs-8">
            <strong>Bondebrie & gorgonzola</strong></br>
            <p>Med radiser, druer, brød og kiks</p>              <em>Min. 25 kurverter</em>
          </div>
          <div class="col-xs-4">
            <strong>49,00 kr.</strong></br>
            <em>pr. kuvert</em>
          </div>
        </div>

        <div class="row ret">
          <div class="col-xs-8">
            <strong>Nøddekurv</strong></br>
            <p>Med is og friske frugter</p>
            <em>Min. 25 kurverter</em>
          </div>
          <div class="col-xs-4">
            <strong>59,00 kr.</strong></br>
            <em>pr. kuvert</em>
          </div>
        </div>

        <div class="row ret">
          <div class="col-xs-8">
            <strong>Æbletærte</strong></br>
            <p>Bagt på en bund af marcipan</p>
          </div>
          <div class="col-xs-4">
            <strong>59,00 kr.</strong></br>
            <em>pr. kuvert</em>
          </div>
        </div>

      </div>
    </div>
  </div>

</div>
<!-- /.container -->
