<div class="container">

  <div class="row">
    <div class="box buffet">
      <h5 class="text-center">Buffet så der er noget for enhver smag.</h5>
      <div class="col-lg-6">

        <h4>Middelhavs</h4>

        <div class="row ret">
          <div class="col-xs-8">
            <strong>Forret, serveres ved bordet på middagstallerken:</strong></br>
            <p>Varm røget laks garneret med rejer, serveret på grøn bund af forskelligt salat, hertil dressing og italienskbrød.</br>
              Kyllingespyd med chili dip.</br>
              Græske frikadeller med feta.</br>
              Kalvefilet stegt som vildt.</br>
              Falafel.</br>
              Tzatziki.</br>
              Semitørrede tomater, feta ,oliven og pesto.</br>
              Blandet Salat</br>
              Pastasalat.</br>
              Citronmarinerede Kartofler</br>
              Brød</p>
              <em>Pris ved. Min. 25 personer</em>
            </div>
            <div class="col-xs-4">
              <strong>225,00 kr.</strong></br>
              <em>pr. kuvert</em>
            </div>
          </div>

        </div>
        <div class="col-lg-6">

          <h4>Individuel</h4>

          <div class="row ret">
            <div class="col-xs-8">
              <strong>Bestående af: 1 Forret – Buffet af 3 slags kød – 1 Dessert</strong></br>
              <p>Rejecocktail.</br>
                Hvidvinsdampet laks med skaldyr, krydderurtedressing og flutes.</br>
                Varmrøget peberlaks, flødestuvet spinat og brød.</br>
                Håndskåret ferskrøget laks serveres med flødestuvet spinat, slikasparges, dild og hjemmebagt brød.</br>
                Glaseret herregårdsskinke.</br>
                Helstegt oksefilet.</br>
                Forloren vildtsvinekam.</br>
                Rødvinsmarineret svinekam.</br>
                Lammekølle.</br>
                Stegt kylling.</br>
                Appelsinmarineret andebryst.</br>
                Røget culotte.</br>
                Til buffeten serveres fransk kartoffelgratin, blandet salat, pastasalat, flütes og div. tilbehør.</br>
                Brieost med frugt fad.</br>
                Blåskimmelost og frugt fad.</br>
                Islagkage.</br>
                Pærer Belle Helene.</br>
                Is med frugt</p>
                <em>Pris ved. Min. 25 personer</em>
              </div>
              <div class="col-xs-4">
                <strong>225,00 kr.</strong></br>
                <em>pr. kuvert</em>
              </div>
            </div>

          </div>
        </div>
      </div>

    </div>
    <!-- /.container -->
