<div class="container">

  <div class="row">
    <div class="box grill">
      <div class="col-lg-6">

        <h4>Grill Pakke 1</h4>

        <div class="row ret">
          <div class="col-xs-8">
            <strong>Spare Ribs-marineret kødfulde ribben.</strong></br>
            <p>Hjemmelavede grillpølser</br>
              Hjemmelavet kartoffelsalat.</br>
              Grøn salat.</br>
              Pastasalat</br>
              Syltede hvidløg, oliven,
              soltørrede tomater.</br>
              Fetaost.</br>
              Dressing.</br>
              Hjemmebagt flute.</br>
              ekskl. Grill, grillmester og Transport</p>
              <em>Min. 25 kurverter</em>
            </div>
            <div class="col-xs-4">
              <strong>135,00 kr.</strong></br>
              <em>pr. kuvert</em>
            </div>
          </div>

        </div>
        <div class="col-lg-6">

          <h4>Grill Pakke 2</h4>

          <div class="row ret">
            <div class="col-xs-8">
              <strong>Hjemmelavede grillpølser.</strong></br>
              <p>Marinerede nakkekoteletter.</br>
                Entrecote af velhængt oksehøjreb.</br>
                Citronmarinerede kartofler</br>
                Grøn salat</br>
                Pastasalat</br>
                Syltede hvidløg, oliven, soltørrede tomater.</br>
                Fetaost.</br>
                Dressing</br>
                Hjemmebagt flute.</br>
                ekskl. Grill, grillmester og Transport</p>
                <em>Min. 25 kurverter</em>
              </div>
              <div class="col-xs-4">
                <strong>169,00 kr.</strong></br>
                <em>pr. kuvert</em>
              </div>
            </div>

          </div>

          <div class="col-lg-6">

            <h4>Grill Pakke 3</h4>

            <div class="row ret">
              <div class="col-xs-8">
                <strong>Marineret oksefilet.</strong></br>
                <p>Hvidløgsmarineret lammekølle.</br>
                  Citronmarinerede kartofler.</br>
                  Grøn salat.</br>
                  Pastasalat</br>
                  Syltede hvidløg, oliven, soltørrede tomater</br>
                  Fetaost.</br>
                  Dressing</br>
                  Hjemmebagt flute.</br>
                  ekskl. Grill, grillmester og Transport</p>
                  <em>Min. 25 kurverter</em>
                </div>
                <div class="col-xs-4">
                  <strong>179,00 kr.</strong></br>
                  <em>pr. kuvert</em>
                </div>
              </div>

            </div>

            <div class="col-lg-6">

              <h4>Grill Pakke 4</h4>

              <div class="row ret">
                <div class="col-xs-8">
                  <strong>Helstegt pattegris.</strong></br>
                  <p>Hjemmelavet kartoffelsalat / citronmarinerede kartofler</br>
                    Grøn salat.</br>
                    Pastasalat</br>
                    Syltede hvidløg, oliven, soltørrede tomater</br>
                    fetaost.</br>
                    Dressing</br>
                    Hjemmebagt flute.</br>
                    ekskl. Grill, grillmester og Transport</p>
                    <em>Til min. 35 personer</em>
                  </div>
                  <div class="col-xs-4">
                    <strong>135,00 kr.</strong></br>
                    <em>pr. kuvert</em>
                  </div>
                </div>

              </div>

            </div>
          </div>

        </div>
        <!-- /.container -->
