

<div class="container">

  <div class="row">
    <div class="box">
      <div class="col-lg-12 text-center">
        <div class="single-item">
          <img src="img/slide1.jpg"/>
          <img src="img/slide2.jpg"/>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="box">
      <div class="col-lg-12">
        <div class="row packages">
          <div class="col-md-3 col-sm-6 text-center"><a href="/alacarte"><img class="img-rounded" src="img/1.jpg"/></a></div>
          <div class="col-md-3 col-sm-6 text-center"><a href="/buffet"><img class="img-rounded" src="img/2.jpg"/></a></div>
          <div class="col-md-3 col-sm-6 text-center"><a href="/grill"><img class="img-rounded" src="img/3.jpg"/></a></div>
          <div class="col-md-3 col-sm-6 text-center"><a href="/julefrokost"><img class="img-rounded" src="img/4.jpg"/></a></div>
        </div>
        <div class="row package-info">
          <div class="col-md-6">
            <h4>Skal du holde fest, kan vi tilbyde dig vores populære helaftensarrangement</h4>
            <p>Det er fest i 7 timer med alt! Undgå kuller – hold din fest hos Buller</p>
            <ul>
              <li>Velkomstdrink</li>
              <li>3 retters menu efter menukortet</li>
              <li>Husets vine ad libitum</li>
              <li>Kaffe & te med cognac / likør</li>
              <li>Fri bar med øl, vin og vand</li>
              <li>5 slags spiritus</li>
            </ul>
            <strong>Kun 695 kr. pr. kuvert</strong></br>
            <em>Prisen er inkl. borddækning, duge, servietter, lys og servering.</em></br>
            <button class="btn btn-default"><strong>Læs Mere</strong></button>
          </div>
          <div class="col-lg-6">
            <h4>Levering</h4>
            <p>Ring til Buller og få en snak – så din fest falder helt i hak.</p>
          </br>
          <p>Vi leverer bl.a:</p>
          <p>Grill, platter – spændende retter, menuer eller buffeter til festlige sammenkomster
            så som: firma- og familiefest, receptioner, åbent hus mm.</p>
            <strong>Hos Buller</strong>
            <p>Kløvermarksvej 34 2300 København.S</p>
            <p>Tlf.: 40 26 36 87</p>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
