<div class="container">

  <div class="row">
    <div class="box jul">
      <div class="col-lg-6">

        <h4>BULLER’S LUKSUS JULE BUFFET KR. 119,-</h4>

        <div class="row ret">
          <div class="col-xs-8">
            <strong>Karrysild</strong></br>
            <p>Æg med rejer og dild</br>
              Lun fiskefilet med remulade og citron</br>
              Frikadeller med rødål</br>
              Lun leverpostej med champignon og bacon.</br>
              Brie med druer</p>
              <em>Min. 25 kurverter</em>
            </div>
            <div class="col-xs-4">
              <strong>119,00 kr.</strong></br>
              <em>pr. kuvert</em>
              <p>Under 25 Kuverter + 20% Dog Minimum 10 Kuverter
                Brød smør og fedt 15.-
                Osteanretning m/druer og kiks 34.-
                Har du et specielt ønske kan det også lade sig gøre – Bare ring!</p>
              </div>
            </div>

          </div>
          <div class="col-lg-6">

            <h4>BULLER’S LUKSUS JULE BUFFET KR. 149,-</h4>

            <div class="row ret">
              <div class="col-xs-8">
                <strong>Karrysild</strong></br>
                <p>Marinerede sild med løg og kapers
                  Æg med rejer og dild</br>
                  Lun fiskefilet med remulade og citron</br>
                  Håndskåret flæskesteg med rødkål og surt</br>
                  Frikadeller med rødkål</br>
                  Lun leverpostej med champignon og bacon</br>
                  Risalamande med kirsebærsauce</p>
                  <em>Min. 25 kurverter</em>
                </div>
                <div class="col-xs-4">
                  <strong>149,00 kr.</strong></br>
                  <em>pr. kuvert</em>
                  <p>Under 25 Kuverter + 20% Dog Minimum 10 Kuverter
                    Brød smør og fedt 15.-
                    Osteanretning m/druer og kiks 34.-
                    Har du et specielt ønske kan det også lade sig gøre – Bare ring!</p>
                  </div>
                </div>

              </div>

              <div class="col-lg-6">

                <h4>BULLER’S LUKSUS JULE BUFFET KR. 179,-</h4>

                <div class="row ret">
                  <div class="col-xs-8">
                    <strong>Karrysild</strong></br>
                    <p>Marinerede sild med løg og Kapers</br>
                      Lun fiskefilet med remoulade og citron</br>
                      Røget laks med asparges og dild</br>
                      Æg med rejer</br>
                      Håndskåret flæskesteg med rødkål</br>
                      Mørbradbøf med bløde løg</br>
                      Lun leverpostej med championer og bacon</br>
                      Små frikadeller med rødkål</br>
                      Ris a la mande med kirsebærsovs</p>
                      <em>Min. 25 kurverter</em>
                    </div>
                    <div class="col-xs-4">
                      <strong>179,00 kr.</strong></br>
                      <em>pr. kuvert</em>
                      <p>Under 25 Kuverter + 20% Dog Minimum 10 Kuverter
                        Brød smør og fedt 15.-
                        Osteanretning m/druer og kiks 34.-
                        Har du et specielt ønske kan det også lade sig gøre – Bare ring!</p>
                      </div>
                    </div>

                  </div>

                  <div class="col-lg-6">

                    <h4>BULLER’S LUKSUS JULE BUFFET KR. 199,-</h4>

                    <div class="row ret">
                      <div class="col-xs-8">
                        <strong>Karrysild</strong></br>
                        <p>Marinerede sild med løg og kapers</br>
                          Ål med rør æg og purløg</br>
                          Håndskåret Østersø laks med asparges</br>
                          Rejer med mayonnaise og citron</br>
                          Lun fiskefilet med remoulade og citron</br>
                          Håndskåret flæskesteg med rødkål</br>
                          Mørbradbøf med bløde løg</br>
                          Lun leverpostej med championer og bacon</br>
                          Små frikadeller med rødkål</br>
                          Risalamande med kirsebærsovs</p>
                          <em>Min. 25 kurverter</em>
                        </div>
                        <div class="col-xs-4">
                          <strong>199,00 kr.</strong></br>
                          <em>pr. kuvert</em>
                          <p>Under 25 Kuverter + 20% Dog Minimum 10 Kuverter
                            Brød smør og fedt 15.-
                            Osteanretning m/druer og kiks 34.-
                            Har du et specielt ønske kan det også lade sig gøre – Bare ring!</p>
                          </div>
                        </div>

                      </div>

                    </div>
                  </div>

                </div>
                <!-- /.container -->
