<div class="container">

  <div class="row">
    <div class="box">

      <div class="row">
        <div class="col-lg-12">
          <iframe id="gmap" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2250.0305157710704!2d12.6051957!3d55.671069499999994!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x46525336e154db3d%3A0x2b273fb10a841247!2sKl%C3%B8vermarksvej+34%2C+2300+K%C3%B8benhavn+S!5e0!3m2!1sen!2sdk!4v1438293194517" width="800" height="600" frameborder="0" style="border:0" allowfullscreen></iframe>
        </div>
      </div>
      <div class="final-contact">
        <div class="row">
          <div class="col-lg-12">
            <h3 class="text-capitalize">Hos Buller</h3>
            <strong>Kløvermarksvej 34 2300 København .S</strong></br>
            <strong>Tlf.: 40 26 36 87</strong>
            <p>Udfyld formularen og vi vil kontakte dig hurtigst muligt.</br>
              Du kan anvende tabulatortasten for at skifte mellem felterne.</br>
              Tryk på ‘Send’, når du er færdig.</p>
            </div>
          </div>
          <form class="contact-form" method="post" action="/kontakt">
            <div class="row">
              <div class="col-lg-4">
                <div class="form-group">
                  <input name="name" type="text" class="form-control" id="inputName" placeholder="Navn">
                </div>
              </div>
              <div class="col-lg-4">
                <div class="form-group">
                  <input name="email" type="email" class="form-control" id="inputEmail" placeholder="Email">
                </div>
              </div>
              <div class="col-lg-4">
                <div class="form-group">
                  <input name="tel" type="tel" class="form-control" id="inputPhone" placeholder="Telefon">
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-lg-12">
                <div class="form-group">
                  <textarea rows="8" name="message" class="form-control" id="inputMessage" placeholder="Din Besked"></textarea>
                </div>
              </div>
            </div>
            <button name="submit" type="submit" value="Send" class="btn btn-default">Send</button>
          </form>
        </div>
      </div>
    </div>

  </div>
  <!-- /.container -->
