<div class="container">

  <div class="row">
    <div class="box">
      <div class="col-lg-8">
        <h4>
          Gælder det mad til fest – så er Buller bare bedst!
        </h4>
        <p class="text-justify">
          Skal du holde barnedåb, konfirmation, måske bryllup, eller vil du bare holde en fest for vennerne, har jeg selskabslokalerne eller jeg kan levere maden til døren.
        </p>
        <p class="text-justify">
          Har du et specielt ønske såsom julefrokost eller et grillarrangement med helstegt dyr, kan det også lade sig gøre. Du kan bare ringe eller sende en e-mail.
        </p>
        <em>Buller</em>
      </div>
      <div class="col-lg-4 contact-box">
        <h4>Kontakt os</h4>
        <form class="contact-form">
          <div class="form-group">
            <input type="text" class="form-control" id="inputName" placeholder="Navn">
          </div>
          <div class="form-group">
            <input type="email" class="form-control" id="inputEmail" placeholder="Email">
          </div>
          <div class="form-group">
            <input type="tel" class="form-control" id="inputPhone" placeholder="Telefon">
          </div>
          <div class="form-group">
            <textarea name="message" class="form-control" id="inputMessage" placeholder="Din Besked"></textarea>
          </div>
          <button type="submit" class="btn btn-default btn-white">Send</button>
        </form>
      </div>
    </div>
  </div>

</div>
<!-- /.container -->
