footer p {
  font-size: 1.25em;
  color: #fff;
}

footer img, footer p {
  padding: 30px 15px
}

footer h3 {
  padding-top: 40px;
  padding-left: 15px;
  color: #fff;
}

.copyright {
  padding: 50px 50px;
}

.navbar-default {
  background: #ee352a;
  border: none;

}

.navbar-default .navbar-nav > li > a {
  color: #fff;
  font-size: 0.8em;
  padding: 30px 15px 30px 15px;
}

.navbar-default .navbar-nav > li > a:hover {
  color: #dbdbdb;
}

footer {
  background: #18ac26;
}

.navbar-default .navbar-brand {
  color: #fff;
}

.navbar-default .navbar-toggle {
  border: none;
}

.navbar-default .navbar-toggle .icon-bar {
  background-color: #fff;
}

.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
   background: none;
   color: #dbdbdb;
}

.navbar-default .navbar-collapse, .navbar-default .navbar-form {
  border: none;
}

.packages {
  margin-bottom: 30px;
}

.package-info {
  margin-bottom: 20px;
}

.btn-default {
  background-color: #ee352a;
  color: #fff;
  border: none;
  margin-top: 30px;
}

.btn-default:hover {
  background-color: #dbdbdb;
}

.btn-white {
  background-color: #fff;
  color: #000;
  margin-top: 0px;
  margin-bottom: 15px;
}

.contact-form {
  margin: 10px;
  margin-bottom: 20px;
}

.contact-box h4 {
  padding-top: 15px;
  padding-bottom: 15px;
  margin-top: 20px;
  margin-bottom: 20px;
  color: #fff;
  border-radius: 15px;
}

.packages img {
  margin-top: 40px;
  margin-bottom: 40px;
}

.packages a:hover {
  -webkit-filter: blur(2px);
   filter: blur(20px);
}

.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
  color: #fff;
  background-color: #18ac26;
}

.dropdown-menu {
  background-color: #18ac26;
  border: none;
  border-radius: 0;
  box-shadow: 0 0px 12px rgba(0, 0, 0, .175);
}

.dropdown-menu > li > a {
  color: #fff;
}


.navbar-nav > li > .dropdown-menu {
  margin-top: -10px;
  margin-left: 10px;
}

.package-info p {
  font-size: 14px;
}

.contact-box {
  background-color: #ee352a;

}

.a-la-carte p {
  font-size: 1em;
  margin-bottom: 0px;
}

.buffet p {
  font-size: 1em;
  margin-bottom: 0px;
}

.grill p {
  font-size: 1em;
  margin-bottom: 0px;
  margin-top: 20px;
}

.jul p {
  font-size: 1em;
  margin-bottom: 0px;
}

.ret {
  margin-bottom: 20px;
}

#gmap {
  width: 100%;
  height: 420px;

}

.final-contact {
  margin-right: 50px;
  margin-left: 50px;
}

.final-contact p {
  margin-top: 20px;
  font-size: 1em;
}

.final-contact .btn-default {
  margin-top: 0px;
  width: 100px;
}
